html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  margin: .4em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em;
  font-size: 1.125rem;
  border-radius: 8px;
  text-decoration: none;
}

.p {
  padding: .4em;
}

.s {
  padding: .75em;
}

.b {
  padding: .3em;
}

.ghost {
  border: 3px solid #000;
}

.btn:hover {
  background-color: #666;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.btn-primary:hover {
  background-color: #666;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  background-color: #fff;
  color: #333;
}

.btn-ghost:hover {
  background-color: #666;
  border: 3px solid #666;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}
